@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --color-primario: #F3F5FC;
    --color-secundario: #0A3871;
    --color-terciario: #FFFFFF;
    --color-hover: #D8DFE8;
    --color-alert: #495057;
    --fuente-inter: "Inter";
}

.alura__logo {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    margin-top: 1rem;
}
body{
    background-color: var(--color-primario);
    margin: 0;

}
main {
    display: flex;
    flex-wrap: wrap ;
    min-height: 84vh;

}
main > :first-child{
    flex-basis: 500px;
    flex-grow: 9999;
}
main > :last-child{
    flex-basis: 300px;
    flex-grow: 1;
}

.lado__izquierdo{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    margin-left: 10%;
    background-color: var(--color-primario);
    
}

.lado__izquierdo > :.encriptar, .desencriptar{
    flex-basis: 328px;
}

.area__texto {
    flex-grow: 9999;
    justify-self:flex-start;
    border: none;
    background-color: var(--color-primario);
    font-family: var(--fuente-inter);
    font-size: 2rem;
    color: var(--color-secundario);
    line-height: 150%;
}

::placeholder {
    color: var(--color-secundario);
    font-family: var(--fuente-inter);
}
.area__texto:focus{
    outline: none;
}

.alerta_y_botones {
    display: flex;
    flex-direction: column;
}
.alerta {
    font-family: var(--fuente-inter);
    font-size: 0.75rem;
    font-weight: 350;
    color: var(--color-alert);
}
.botones {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.encriptar, .desencriptar {
    width: 50%;
    padding: 1.5em;
    border-radius: 1.5em;
    font-family: var(--fuente-inter);
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.encriptar {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    border: 0.063rem solid var(--color-secundario);
}

.desencriptar {
    background-color: var(--color-hover);
    color: var(--color-secundario);
    border: 0.063rem solid var(--color-secundario);
}

.lado__derecho {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    background-color: var(--color-terciario);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 0;
}

.mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagen__mensaje{
    padding: 15%;
}

.mensaje__1 {
    font-family: var(--fuente-inter);
    color: #343A40;
    font-size: 1.5rem;
    font-weight: bold;
}

.mensaje__2 {
    font-family: var(--fuente-inter);
    color: #343A40;
    font-size: 1rem;
}

.area__texto2{
    flex-grow: 9999;
    justify-self:flex-start;
    border: none;
    background-color: var(--color-terciario);
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-secundario);
    line-height: 150%;
}
.area__texto2:focus{
    outline: none;
}

.btn__copiar {
    width: 20.5rem;
    background-color: var(--color-terciario);
    padding: 1.5rem;
    border-radius: 1.5rem;
    font-family: var(--fuente-inter);
    font-size: 1rem;
    color: var(--color-secundario);
    border-width: 0.063rem;
    border-color: var(--color-secundario);
    cursor: pointer;
}

footer {
    display: content;
    text-align: center;
    background-color: var(--color-secundario);
    font-family: var(--fuente-inter);
    font-weight: lighter;
    font-size: 1rem;
    color: var(--color-primario);
    padding: 1%;
}


@media (max-width:1091px){
    main{
        display: flex;
        flex-direction: column;
        
    }

    .imagen__mensaje{
        display: none;
    }

    .lado__izquierdo{
        margin-left: 2%;
    }
    .btn__copiar{
        width: 100%;
    }
    
}
@media (max-width:450px){


    main{
        display: flex;
        flex-direction: column;
    }

    .lado__izquierdo{
        width: fit-content;
    }

    .imagen__mensaje{
        display: none;
    }

    .lado__izquierdo{
        margin: auto;
    }
    .area__texto{
        margin-top: 3rem;
        flex-grow: none;
    }
    .botones{
        flex-wrap: wrap;
        
    }
    .encriptar, .desencriptar {
        width: 100%;
    }
    
    .lado__derecho{
    width: fit-content;
    height: fit-content;
    justify-content: flex-start;
    margin: auto;
    }

    .btn__copiar{
        width: 100%;
    }

}